<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685319947274-adl8b4psj4e6ciqefeabmou9gdv0bcvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685319947274-adl8b4psj4e6ciqefeabmou9gdv0bcvt</string>
	<key>API_KEY</key>
	<string>AIzaSyAasXXHpUEDTJmCuk8xHqptnhfAF-_yzuM</string>
	<key>GCM_SENDER_ID</key>
	<string>685319947274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple.MessengerTutorial</string>
	<key>PROJECT_ID</key>
	<string>mes-app-e3b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>mes-app-e3b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685319947274:ios:5ec07735e56e71b22bcbf3</string>
	<key>DATABASE_URL</key>
	<string>https://mes-app-e3b0d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>